div {
    min-width:400px;
}

h2{
    font-size:0.9em;
    background-color: #009879 ;
    color:#ffffff;
    margin-top:25px;
    padding:5px 15px;
    padding-bottom:7px;
    text-align:center;
    font-weight:bold;
}

ul {
    list-style: none;
}

mat-card{
    background-color:#F9F9F9;
    margin:auto;
    position:relative;
    width:60%;
}
mat-card-title{
    font-size:1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
mat-card button{
    position:absolute;
    right:10px;
    top:5px;
}