.todo_input{
    margin:0;
    padding:20px;
    display:flex;
    justify-content: space-evenly;
}
.todo_input p{
    display:inline-block;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
}
.todo_input input{
    border-radius: 18px;
    border:solid;
    padding: 10px; 
    outline: none;
}
.todo_input button{
    outline: none;
    height: 50px;
    border-radius: 15%;
    border:none;
    background-color: rgb(73, 73, 196);
    color:white;
    cursor: pointer;
}

mat-toolbar{
    justify-content: center;
    font-size:50px;
}
